In [1]:
from wKit.stat.measure import rbo_score

In [52]:
list1 = ['A','B','C','D','E','H']
list2 = ['D','B','F','A']
print rbo_score(list1, list2, p = 0.98)

0.722096666667

In [86]:
import pandas as pd

In [118]:
import wKit.stat.cmp; reload(wKit.stat.cmp)
from wKit.stat.cmp import *

list1 = ['A','B','C','D','E','H']
list2 = ['D','B','F','A']
score1 = [1,2,3,4,5,6]
score2 = [1,2,3,4]
cmp_rank_list(list1, list2)
cmp_rank_list(zip(list1, score1), zip(list2, score2))

1.0 4.0 <type 'numpy.float64'>
2.0 2.0 <type 'numpy.float64'>
4.0 1.0 <type 'numpy.float64'>

  item rank_change score_change  rank_new  rank_base  score_new  score_base
0    D          +3      -75.00%       0.0        3.0        1.0         4.0
1    B           0        0.00%       1.0        1.0        2.0         2.0
2    F         new          NaN       2.0        NaN        3.0         NaN
3    A          -3     +300.00%       3.0        0.0        4.0         1.0
4    C        gone          NaN       NaN        2.0        NaN         3.0
5    E        gone          NaN       NaN        4.0        NaN         5.0
6    H        gone          NaN       NaN        5.0        NaN         6.0

In [114]:
score_new = 1
score_base = 4
score_new * 100.0 / score_base - 100

-75.0

In [75]:
list1 = ['a','B','C','A','E','A']
score1 = ['A', 2, 3, 4, 5, 'A']
np.array(zip(list1, score1))

array([['a', 'A'],
       ['B', '2'],
       ['C', '3'],
       ['A', '4'],
       ['E', '5'],
       ['A', 'A']],
      dtype='|S1')

In [77]:
np.where(np.array(zip(list1, score1))=='A')

(array([0, 3, 5, 5], dtype=int64), array([1, 0, 0, 1], dtype=int64))

In [61]:
cmp_rank_list(list1, list2)

D 3
B 0
F new
A -3

In [9]:
list1.index('A')

0

In [10]:
import numpy as np

In [32]:
np.where(np.array(list1)=='A')[0][0]

0